<div class="modal-body">
    <div class="modal-header">
      <h2 class="modal-header-title">
        <i class="fa fa-info-circle"></i>
        <span class="p-l-1">Actions</span>
      </h2>
  
      <a class="modal-header-close" id="product-schedule-gantt-chart-order-actions-close-btn" ng-click="dismiss();">
        <i class="fa fa-remove"></i>
      </a>
    </div>
  
    <form class="form" name="product-schedule-gantt-chart-order-actions-form">
      <div
        class="modal-content"
        id="modal-modal-content"
        style="max-height:600px; overflow-y:scroll"
      >
        <div class="text-center">
          <div class="radio-tile-group">
            <!-- Insert -->
            <div class="input-container">
              <input
                id="insert"
                class="radio-button"
                type="radio"
                name="product-schedule-gantt-chart-order-actions-radio"
              />
              <div class="radio-tile">
                <div class="icon edit-icon">
                  <i class="fa fa-arrows-h fa-2x"></i>
                </div>
                <label for="insert" class="radio-tile-label">Insert</label>
              </div>
            </div>
            <!-- Edit -->
            <div class="input-container">
              <input
                id="edit"
                class="radio-button"
                type="radio"
                name="product-schedule-gantt-chart-order-actions-radio"
              />
              <div class="radio-tile">
                <div class="icon edit-icon">
                  <i class="fa fa-edit fa-2x"></i>
                </div>
                <label for="edit" class="radio-tile-label">Edit</label>
              </div>
            </div>
            <!-- Release -->
            <div class="input-container">
              <input
                id="release"
                class="radio-button"
                type="radio"
                name="product-schedule-gantt-chart-order-actions-radio"
              />
              <div class="radio-tile">
                <div class="icon split-icon">
                  <i class="fa fa-send fa-2x"></i>
                </div>
                <label for="split" class="radio-tile-label">Release</label>
              </div>
            </div>
            <!-- Delete -->
            <div class="input-container">
              <input
                id="delete"
                class="radio-button"
                type="radio"
                name="product-schedule-gantt-chart-order-actions-radio"
              />
              <div class="radio-tile">
                <div class="icon split-icon">
                  <i class="fa fa-times fa-2x"></i>
                </div>
                <label for="split" class="radio-tile-label">Delete</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  